<h2>pReview is a way to see course feedback from your peers both in the past and present (even while the course is going on in the current semester!).</h2>
<p>pReview aims to provide ongoing and accurate feedback of courses by polling students with one or two quick questions after classes. Student feedback are aggregated at the class level and both Students and Professors alike can see the progress of the class as the semester progresses.</p>
<p>Students registered with pReview are able to</p>
<ul>
<li>get a sense of how the entire class feels about a course while the course is ongoing, allowing them to identify areas they are weak in</li>
<li>see the previously aggregated course feedback to make more informed decisions if they should take a particular class</li>
</ul>

<p>Professors registered with pReview are able to</p>
<ul>
<li>understand areas of the syllabus that students are weak in and make live corrections as they go along</li>
</ul>

<h2>How it works</h2>
<p>Students registered with pReview receive a simple question on their mobile devices or email after classes to get their feedback. Sample questions include "On a scale of 1 to 10, how would you rate the pace of today’s class?" and "Did you find the material covered in class today relevant?"</p>
<p>Students respond to these questions within 48 hours and the results are aggregated every two weeks. Students are able to see how their peers felt about classes, as well as identify areas they are weak in so as to seek help.</p>
<a href="#register" class="btn btn-block btn-info btn-lg" role="button">Join pReview today!</a>