<h3>Game Over!</h3>
<p class="text-danger"><strong>Your Final Score: {{game.score}}</strong></p>
<p><textarea name="message-text" ng-model="clientInput.messageText" class="form-control" rows="1" ng-keypress="evalSubmit(event=$event)"></textarea></p>
<div class="row">
	<div class="col-xs-6">
    	<p><a ng-click="sendMessage()" class="btn btn-success btn-block">Send Message</a></p>
    </div>
    <div class="col-xs-6">
    	<p><a ng-click="toDashboard()" class="btn btn-warning btn-block">Dashboard</a></p>
    </div>
</div>
<div id="message-list" ng-if="messages.length != 0">
	<p ng-repeat="m in messages">
    	<span class="text-muted">{{m.time}}</span><br />
    	<strong>{{m.user == 'you' ? "You" : game.player2.username}}:</strong> {{m.text}}
    </p>
</div>
