<div class="jumbotron">
    <h1>Taboo with Strangers <img class="responsive" src="assets/person.png" /></h1>
    <p class="lead">A fun word game with players across the globe.</p>
</div>
<form role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" ng-model="lForm.username" class="form-control" id="username" value="" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" ng-model="lForm.password" class="form-control" id="password" value="" />
    </div>
</form>
<p class="bg-danger" ng-if="lForm.errorMessage != null">{{lForm.errorMessage}}</p>
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
<p><a href="" ng-click="submitData()"  class="btn btn-block btn-warning btn-lg" role="button">Log in</a></p></div>
</div>
<p class="text-center">Don't have an account? <a href="#/register">Register Now!</a></p> 
<p><a href="#/about" class="btn btn-block btn-success btn-md" role="button">Learn more about Taboo with Strangers</a></p>

