<div id="update-message" class="bg-warning" ng-if="game.updateMessageShow == 'yes'">
    <p>{{game.updateMessage}}</p>
    <ol ng-if="game.turn_type == 'clue'" id="past-guesses">
        <li ng-repeat="guess in game.turn_previous.responses">{{guess}}</li>
    </ol>
    <p><a class="btn btn-block btn-danger" id="dismiss-msg" role="button" ng-click="dismissUpdate()">Dismiss Update Message</a></p>
</div>

<div id="play-body" ng-if="game.updateMessageShow == 'no'">
    <div class="row">
        <div class="col-xs-6">
            <p>Player 2: <strong>{{game.player2.username}}</strong> <br />
            Round: <strong>{{game.current_round}}</strong></p>
        </div>
        <div class="col-xs-6 text-right">
            <p>Score: <strong>{{game.score}}</strong> <br />
            <span class="time-counter text-center">Time: <span round-timer="">{{game.timer}}</span></span></p>
        </div>
    </div>   
    
    <!-- !!CLUE!! -->
    <div ng-if="game.turn_type == 'clue'">
        <div class="panel panel-primary">
  			<div class="panel-heading"><h2 style="font-size:1.2em;font-weight:bold;" class="panel-title text-center">{{allCards[currCard].word}}</h2></div>
                <div class="panel-body">
                    <ul class="list-unstyled text-center">
                        <li ng-repeat="word in allCards[currCard].forbiddenWords" class="text-danger">
                            {{word}}
                        </li>
                    </ul>
             	</div>
            </div>
            <p><textarea name="clue-text" ng-model="clientInput.clueText" class="form-control" rows="2"></textarea></p>
            <p><a class="btn btn-block btn-warning" id="clue-button" role="button" ng-click="addClue()">Add Clue</a></p>
            <div class="row">
                <div class="col-xs-6"><p><a class="btn btn-block btn-danger" role="button" ng-click="nextCard('skipped')">Skip Card</a></p></div>
                <div class="col-xs-6"><p><a class="btn btn-block btn-success" role="button" ng-click="postClues()">Send to Guesser</a></p></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong>Clues:</strong>
                    <ol id="given-clues">
                        <li ng-repeat="clue in displayClues">{{clue}}</li>
                    </ol>
                </div>
                <div class="col-md-6">
                    <strong>Guesses:</strong> <span ng-if="game.turn_previous.responses == null">No guesses yet!</span>
                    <ol id="past-guesses">
                        <li ng-if="game.turn_previous.result != 'guessed'" ng-repeat="guess in game.turn_previous.responses">{{guess}}</li>
                    </ol>
                </div>
            </div>
    </div>
    
    <!-- !!GUESS!! -->
    <div ng-if="game.turn_type == 'guess'">
        <strong>Clues Given:</strong>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="word in game.turn_previous.responses">{{word}}</li>
        </ul>
        <p><textarea name="guess-text" ng-model="clientInput.guessText" class="form-control" rows="1"></textarea></p>
        <p><a class="btn btn-block btn-warning" id="guess-button" role="button" ng-click="addGuess()">Submit Guess</a></p>
        <div class="row">
            <div class="col-xs-6"><p><a class="btn btn-block btn-danger" role="button" ng-click="postGuesses('skipped')">Skip Card</a></p></div>
            <div class="col-xs-6"><p><a class="btn btn-block btn-success" role="button" ng-click="postGuesses('sameCard')">Get More Clues</a></p></div>
        </div>
        <strong>Guesses:</strong>
        <ol id="past-guesses">
            <li ng-repeat="guess in displayGuesses">{{guess}}</li>
        </ol>
    </div>
</div>