<h1>Create a New Account</h1>
<form role="form">
    <div class="form-group">
    	<label for="email">Email</label>
    	<input type="email" class="form-control" id="email" value="" />
    </div>
    <div class="form-group">
    	<label for="password">Password</label>
    	<input type="password" class="form-control" id="password" value="" />
    </div>
    <div class="form-group">
    	<label for="username">User Name</label>
    	<input type="text" class="form-control" id="username" value="" />
    </div>
    <div class="form-group">
    	<label for="country">Country</label>
    	<input type="text" class="form-control" id="country" value="" />
    </div>
    <div class="form-group">
    	<label for="city">City</label>
    	<input type="text" class="form-control" id="city" value="" />
    </div>
    <p><a href="" ng-click="submitData()" class="btn btn-block btn-warning btn-lg" role="button">Submit</a></p>
</form>